In [1]:
import numpy as np
import pandas as pd

In [3]:
dt=pd.read_csv('C:/pypy/Food.csv',encoding='Latin-1', error_bad_lines=False)

C:\Users\Jane Ijeoma\AppData\Local\Temp\ipykernel_13316\2168714928.py:1: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  dt=pd.read_csv('C:/pypy/Food.csv',encoding='Latin-1', error_bad_lines=False)

In [4]:
dt.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [56]:
dt.groupby('Element')['Y2014','Y2017'].sum()

C:\Users\Jane Ijeoma\AppData\Local\Temp\ipykernel_13316\1315572804.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  dt.groupby('Element')['Y2014','Y2017'].sum()

                                             Y2014       Y2017
Element
Domestic supply quantity                1996716.35  2088198.10
Export Quantity                          150020.64   182338.80
Fat supply quantity (g/capita/day)        10225.56    10253.84
Feed                                     216927.89   223705.68
Food                                    1212332.49  1258888.28
Food supply (kcal/capita/day)            454257.00   454681.00
Food supply quantity (kg/capita/yr)       49650.63    48690.04
Import Quantity                          274144.48   294559.09
Losses                                   153223.00   160614.00
Other uses (non-food)                     78718.13    91645.97
Processing                               282923.00   292836.00
Production                              1931287.75  2030056.89
Protein supply quantity (g/capita/day)    11836.46    11842.45
Residuals                                 30149.00    35500.00
Seed                                      21922.92    24870.14
Stock Variation                           58749.83    54316.91
Total Population - Both sexes           1031585.00  1112641.00
Tourist consumption                         416.00       91.00

In [10]:
round(dt['Y2016'].isnull().sum(),2)

1535

In [17]:
a=round(dt['Y2016'].isnull().sum(),2)
c=len(dt['Y2016'])
round((a/c)*100,2)

2.52

In [18]:
dt.Element.corr()

TypeError: corr() missing 1 required positional argument: 'other'

In [53]:
dt.groupby('Area')['Element','Y2018'].sum()

C:\Users\Jane Ijeoma\AppData\Local\Temp\ipykernel_13316\4115533318.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  dt.groupby('Area')['Element','Y2018'].sum()

                                  Y2018
Area
Algeria                       341729.98
Angola                        235206.68
Benin                         124960.70
Botswana                       23129.08
Burkina Faso                  112970.72
Cabo Verde                     14622.60
Cameroon                      233022.93
Central African Republic       30101.57
Chad                           72282.24
Comoros                           59.84
Congo                          42005.53
Côte d'Ivoire                 227018.00
Djibouti                       23718.96
Egypt                         852652.92
Eswatini                       55045.07
Ethiopia                      450788.86
Ethiopia PDR                       0.00
Gabon                          28339.38
Gambia                         23513.80
Ghana                         358915.64
Guinea                        103262.08
Guinea-Bissau                  18997.92
Kenya                         270916.80
Lesotho                        19109.23
Liberia                        29629.83
Madagascar                    134576.44
Malawi                        187366.09
Mali                          159026.42
Mauritania                    157479.95
Mauritius                      47150.91
Morocco                       399271.27
Mozambique                    164934.05
Namibia                        29350.04
Niger                         133982.86
Nigeria                      1499774.24
Rwanda                         74839.08
Sao Tome and Principe          12806.49
Senegal                        95493.82
Seychelles                       442.34
Sierra Leone                   55981.73
South Africa                  509787.97
Sudan                         268054.39
Sudan (former)                     0.00
Togo                           54872.00
Tunisia                       127343.17
Uganda                        222147.25
United Republic of Tanzania   349763.41
Zambia                        101604.27
Zimbabwe                       76581.41

In [27]:
dt.groupby('Element')['Y2014'].sum()

Element
Domestic supply quantity                  1996716.35
Export Quantity                            150020.64
Fat supply quantity (g/capita/day)          10225.56
Feed                                       216927.89
Food                                      1212332.49
Food supply (kcal/capita/day)              454257.00
Food supply quantity (kg/capita/yr)         49650.63
Import Quantity                            274144.48
Losses                                     153223.00
Other uses (non-food)                       78718.13
Processing                                 282923.00
Production                                1931287.75
Protein supply quantity (g/capita/day)      11836.46
Residuals                                   30149.00
Seed                                        21922.92
Stock Variation                             58749.83
Total Population - Both sexes             1031585.00
Tourist consumption                           416.00
Name: Y2014, dtype: float64

In [49]:
dt.groupby('Element').sum()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,,,,
Domestic supply quantity,708993,14197445,28068795,1996716.35,2021493.55,2044842.70,2088198.10,2161192.10
Export Quantity,599910,11840553,26026133,150020.64,157614.47,151920.46,182338.80,181594.80
Fat supply quantity (g/capita/day),675050,13535000,3435732,10225.56,10235.74,10102.77,10253.84,10258.69
Feed,176272,3538507,7282199,216927.89,225050.22,228958.65,223705.68,233489.68
Food,663295,13285035,25406622,1212332.49,1232361.10,1247022.17,1258888.28,1303841.28
Food supply (kcal/capita/day),674057,13511060,3329296,454257.00,453383.00,451810.00,454681.00,455261.00
Food supply quantity (kg/capita/yr),658446,13185401,3163725,49650.63,49345.13,48985.28,48690.04,49056.85
Import Quantity,688174,13795966,28834929,274144.48,267018.46,286582.78,294559.09,287997.09
Losses,274353,5424803,10292107,153223.00,155439.00,157787.00,160614.00,163902.00
Other uses (non-food),235554,4729749,8926728,78718.13,66254.41,69563.68,91645.97,91300.97
Processing,271940,5350416,10313310,282923.00,287929.00,280631.00,292836.00,308429.00
Production,526751,10450053,21388191,1931287.75,1947019.39,1943537.15,2030056.89,2075072.89
Protein supply quantity (g/capita/day),675050,13535000,3385502,11836.46,11833.95,11779.69,11842.45,11833.56
Residuals,623271,12421089,24066350,30149.00,30045.00,37224.00,35500.00,34864.00
Seed,103537,2035933,4211574,21922.92,23976.82,23389.20,24870.14,25263.14
Stock Variation,571566,11329527,21464704,58749.83,34910.99,33140.12,54316.91,20577.91
Total Population - Both sexes,6020,112545,22995,1031585.00,1058081.00,1085107.00,1112641.00,1140605.00
Tourist consumption,50308,1486528,2869905,416.00,349.00,89.00,91.00,90.00

In [48]:
dt.groupby('Element')[['Y2018',]].first().sum()

Y2018    84430.42
dtype: float64

In [45]:
len(dt['Area'].unique())

49